*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

:root {
    --metro-azul: #003DA5;
    --metro-rojo: #E30613;
    --metro-blanco: #FFFFFF;
}

@font-face {
    font-family: "Sans Stack";
    src: url(../fonts/static/StackSansNotch-ExtraLight.ttf);
}
@font-face{
    font-family:"Elms Sans";
    src: url(../fonts/Elms_Sans/ElmsSans-VariableFont_wght.ttf);
}


.cabecera {
    background-color: var(--metro-azul);
    color: var(--metro-blanco);
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
}

.cabecera__contenedor {
    display: flex;
    align-items: center;
}

.cabecera__logo {
    height: 180px;
    padding: 20px 0px;
}

.cabecera__titulo {
    font-size: 4em;
    font-family: "Sans Stack";
}

.menu {
    display: flex;
    list-style: none;
    gap: 15px;
    flex-wrap: wrap;
    align-content: space-evenly;
    letter-spacing: 2px;
    font-weight: 1;
}

.menu__opcion {
    color: var(--metro-blanco);
    font-family: "Elms Sans";
    font-size: 1rem;

}

footer{
    font-family: "Sans Stack";
    font-size: 1rem;
    color:#FFFFFF;
    background-color: #E30613;
    display: flex;
    justify-content: center;
}
.lineas{
    display: flex;

}
.linea{
    font-family: "Sans Stack";
    text-align: center;
    font-size: 2rem;
}

.linea__titulo{
    font-family: "Elms Sans";
}

.linea__paradas{
    font-family: "Elms Sans";
}
/*HAY QUE CAMBIARLO ACUERDATE SUBNORMAL
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background: grey;
  gap: 10px;
}

.item {
  background: blue;
  color: #fff;
  font-size: 2rem;
}
flexbox froggy
flexbox defense
grid garden
  */
